{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}
{% block monTitre %}Type {{type.libelle}} {% endblock %}
{% block body %}

<div class="row">    

    {% for aliment in type.aliments %}
         <div class="col-12 col-md-6 col-lg-4 col-xl-3">

              <div class="card border-info mb-3 mx-auto" style="max-width: 20rem;">
                   <div class="card-header text-center">
                        <img src="{{asset('images/aliments/' ~ aliment.image)}}" class="perso_imgAliment card-img-top" alt="{{ aliment.nom}} ">
                   </div>

                   <div class="card-body">
                        <h3 class="cart-title text-center pb-2 mx-3 border-bottom border-info">{{aliment.nom|capitalize}} </h3>
                        <p class="card-text">
                             <h4 class="text-center">Prix (Kilo): {{aliment.prix}}€ </h4>
                             <h4 class="text-center">Type: {{aliment.type.libelle}} </h4>
                             <table class="table text-center">
                                  <tr class="table-info">
                                       <td>Propriété</td>
                                       <td>Valeur (100g)</td>
                                  </tr>
                                  <tr>
                                       <td>Calories</td>
                                       <td>{{aliment.calorie}} </td>
                                  </tr>
                                  <tr>
                                       <td>Proteines</td>
                                       <td>{{aliment.proteine}} </td>
                                  </tr>
                                  <tr>
                                       <td>Glucides</td>
                                       <td>{{aliment.glucide}} </td>
                                  </tr>
                                  <tr>
                                       <td>Lipides</td>
                                       <td>{{aliment.lipide}} </td>
                                  </tr>                    
                             </table>
                        </p>

                   </div>

              </div>

         </div>     
    {% endfor %}

</div>

{% endblock %}
