{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}
{% block monTitre %}
{% if isModification %}
     Modification {{ aliment.nom}}
{% else %}
     Ajout d'un aliment
{% endif %}
  {% endblock %}
{% block body %}
<div class="container">
{{form_start(form, {'attr': {'novalidate':'novalidate'}})}}

<div class="row">
     <div class="col-6">
          <img src="{{asset('images/aliments/' ~ aliment.image )}} " style="width: 30%; " >
          <div>{{form_row(form.imageFile)}} </div>
          <div>{{ form_row(form.nom, {"attr" : { 'class': 'text-danger bg-success'}, "label": "Nom de l'aliment"})}} </div>
     </div>
     <div class="col-6">
          {{form_widget(form)}}
     </div>
</div>

     <input type="submit" class="btn btn-primary container m-5 mx-auto" value="Enregistrer">
{{form_end(form)}}
</div>
{% endblock %}
