{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}
{% block monTitre %}Administration des types{% endblock %}
{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success text-center">
        {{ message }} 
    </div>   
    {% endfor %}
    <a href="{{path('admin_type_ajout')}} " class="btn btn-info m-4 p-2" style="width: 30%">Ajouter</a>
    <table class="table text-center">
        <tr class="table-info">
            <th>Image</th>
            <th>Libelle</th>
            <th>Actions</th>
        </tr>
        {% for type in types %}

        <tr>
            <td>
                <img src="{{asset("images/types/" ~ type.image)}}" class="perso_imgAlimentAdmin">
            </td>
            <td>{{ type.libelle}}</td>
            <td>
                <a href="{{path('admin_type_modif', {'id': type.id})}}" class="btn btn-warning">Modifier</a>
                <form method="post" style="display:inline-block" action="{{ path("admin_types_suppression",{'id': type.id} )}} ">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}">
                    <input type="submit" class="btn btn-danger" value="supprimer" onsubmit="return confirm('Confirmer la suppresion ?') ">
                </form>            
            </td>
        </tr>
        {% endfor %}

    </table>
   

        
</div>

{% endblock %}
