{% extends 'base.html.twig' %}

{% block title %}Types {{type.libelle}} {% endblock %}
{% block monType %}
    {% if isModification %}
        Modification {{ type.libelle}}
    {% else %}
        Ajout du type d'aliment
    {% endif %}
{% endblock %}
{% block body %}
<div class="container">
    {{ form_start(form)}}
        <div class="row">
            <div class="col-6">
                {% if isModification %}
                <img src="{{asset('images/types/' ~ type.image )}} " style="width: 30%; " >
                {% endif %}
                <div>{{form_row(form.image)}} </div>
                <div>{{ form_row(form.libelle, {"attr" : { 'class': 'text-danger bg-success'}, "label": "Nom du type"})}} </div>
            </div>
            <div class="col-6">
                {{form_widget(form)}}
            </div>
        </div>
            <input type="submit" class="btn btn-primary container m-5 mx-auto" value="Enregistrer">
    {{ form_end(form)}}  
</div>

{% endblock %}
